.body {
    background: url(../IMG/Aseguradora.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.Primero {
    background-color: rgba(0,0,0,.7);
    color: rgb(255, 255, 255);
}

.fakeimg {
    height: 200px;
    background: #aaa;
}
.Tercero{
 background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.uno:hover{
    background: rgba(255, 0, 0, 0.46);
    color:white;
}

.uno,
.dos,
.tres {
    color: white;
}